* {
    margin: 0;
    padding: 0;
}

html {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    /*padding: 0.5em;*/
    /*font-size: 150%;*/
}

.imgbox {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#timestamp {
    font-size: 0.75em;
}

#container {
    text-align: center;
}

h1, h2, h3, p {
    padding: 0.5em 1em;
}

th .table-cell {
    text-align: center;
}

td {
    height: 3em;
}

.table-cell {
    width: 7em;
    overflow: hidden;
}

.dataframe {
    border-collapse: collapse;
}

.dataframe td:first-child .table-cell {
    width: 12em;
}

.dataframe td:last-child .table-cell {
    width: 120em;
    height: 3em;
    overflow: hidden;
}

.pass {
    color: #00bb00;
    font-weight: bold;
}

.fail {
    color: #cc0000;
    font-weight: bold;
}